body {
	font-family: Helvetica;
	background-image: url("../images/PokerTable.png");
	background-size: cover;
	
}
main {
	text-align: center;
}
section{
	background: rgba(250, 250, 250, 0.3);
	padding: 10px;
	margin: 20px;
}

h1 {
	color: #ffffff;
	text-decoration: underline;
	font-size: 30px;
}
h2 {
	color: #94262D;
}

nav {
	background: #808080;
	border: none;
	font-size: 20px;
}


button {
	background-color: #4CAF50; 
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}


a.menu {
	color: #ffffff;
	background: #000000;
	padding: 35px;
	display: block;
	float: left;
	text-decoration: none;
}

a.menu:hover {
	background: #AA0000;

}

a.links {
	color: #94262D;
	

}

.card {
	height: 200px;
	width: 150px;
	background-size: contain;
	display: inline-block;
  	margin: 5%;
	}

.board {
	height: 50%;
	width: 50%;
	display: inline-block;
	}



.gamemaster {
	color: #94262D;
	}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
  }

footer {

  background-color:#808080;
  text-align: center;
  clear: both;
}

img {
	height: 200px;
	width: 150px;
	border-radius: 14px;
	border: 1px solid black;
}
